<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="initialColumn" value="2" />
        <add key="finalColumn" value="22" />
        <add key="initialRow" value="1" />
        <add key="ontologyPath" value=""/>
        <add key="logsPath" value=""/>
        <add key="domainConfigurationPath" value=""/>
        <add key="worldConfigurationPath" value=""/>
        <add key="TimePenalization" value="86400"/>
        <add key="NoTutoringNoBlockErrorPenalization" value="2"/>
        <add key="TutoringBlockErrorPenalization" value="5"/>
        <add key="TutoringNoBlockErrorPenalization" value="10"/>
        <add key="ASSConString" value="Data Source=localhost:2383;Catalog=SequenceMining;User Id=sa;Password=Diego7386"/>
        <add key="BDDConString" value="Data Source=localhost,1433;Initial Catalog=LabBiotecnologia;User Id=sa;Password=Diego7386;"/>
        <add key="NoTutoringEventConfidenceThreshold" value="0.75"/>
        <add key="LowDetailTutoringEventConfidenceThreshold" value="0.5"/>
        <add key="MediumDetailTutoringEventConfidenceThreshold" value="0.25"/>
        <add key="NoErrorPreventionSupportThreshold" value="0.6"/>
        <add key="NoErrorPreventionConfidenceThreshold" value="0.25"/>
        <add key="HighDetailErrorPreventionConfidenceThreshold" value="0.75"/>
        <add key="MediumDetailErrorPreventionConfidenceThreshold" value="0.5"/>
        <add key="NoErrorPreventionIEConfidenceThreshold" value="0.5"/>
        <add key="NoErrorPreventionIERepetitionThreshold" value="0.5"/>
    </appSettings>
</configuration>