<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="initialColumn" value="2" />
        <add key="finalColumn" value="22" />
        <add key="initialRow" value="1" />
        <add key="ontologyPath" value="..\..\..\..\StudentModule\Its.StudentModule.Ontology\"/>
        <add key="logsPath" value="..\..\..\..\StudentModule\Its.StudentModule.Ontology/Logs\"/>
        <add key="domainConfigurationPath" value="..\..\..\..\DomainConf\"/>
        <add key="worldConfigurationPath" value="..\..\..\..\WorldConf\"/>
    </appSettings>
</configuration>